<div class="contact-main h-100 w-100 section">
    <div class="container px-5 h-100">
        <div class="position-relative d-flex text-center mb-5 justify-content-center">
            <h1 class="display-1 text-center">Contact</h1>
        </div>
    </div>
</div>