.aboutus-main {
  /*        background-color:red;
        transition: 2000ms opacity ease-in-out;*/ }

p {
  line-height: 1.8rem;
  margin-top: 0;
  margin-bottom: 1rem; }

/*    .featured-box h3, .featured-box h4 {
        font-size: 1.25rem;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
    }*/
