@section scripts {
    <script src="~/Views/Home/home.js"></script>
}

<div class="h-100 w-100 d-flex" style="position:relative;">
    <div class="mask bg-dark"></div>
    <div id="cf4a" class="custom-bg h-100 w-100">
        @*<img class="h-100 w-100" src="../../media/cover.jpg" />*@
        @*<img class="h-100 w-100" src="../../media/cover-1.jpg" />*@
        <div class="h-100 w-100" style="background-image: url(../../media/cover.jpg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;"></div>
        <div class="h-100 w-100" style="background-image: url(../../media/cover-1.jpg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;"></div>
        @*<div class="h-100 w-100" style="background-image: url(../../media/cover-2.jpg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;"></div>*@
    </div>
    <div class="home-main h-100 w-100 d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-12 text-center">
                    @*<div class="typed-strings" style="display: none;">
            <p>I'm Simone Olivia</p>
            <p>I'm a Freelancer.</p>
            <p>I'm a Photographer.</p>
            <p>I'm a Designer.</p>
        </div>*@
                    @*<p class="text-7 fw-500 text-white mb-2 mb-md-3">Welcome</p>
        <h2 class="text-16 fw-600 text-white mb-2 mb-md-3"><span class="typed">I'm Eugene Ho</span></h2>*@
                    @*<h2 class="text-16 fw-600 text-white mb-2 mb-md-3"><span class="typed">I'm Eugene Ho</span><span class="typed-cursor">|</span></h2>*@
                    @*<p class="text-5 text-light mb-4">based in Los Angeles, California.</p>*@
                    @*<a href="#contact" class="btn btn-outline-primary rounded-pill shadow-none smooth-scroll mt-2">Hire Me</a>*@
                    @*<h2 class="text-16 fw-600 text-white mb-2 mb-md-3"><span class="typed">Welcome to my portfolio</span></h2>*@
                    <h1 class="text-white">I'm Eugene Ho</h1>
                </div>

            </div>
        </div>
    </div>
</div>
@*test*@

@* must be placed at the bottom for css to be applied *@
<link rel="stylesheet" href="~/Views/Home/home.css" />