.theme-dark .side-bar {
  background-color: #111418; }

.theme-dark ul > li > a {
  color: #fff !important; }

.theme-dark .display-1 {
  color: #fff; }

.theme-dark .bg-dark-1 {
  background-color: #212529 !important; }

.theme-dark .bg-dark-2 {
  background-color: #343a40 !important; }

.theme-dark .aboutme-main p {
  color: #fff; }

.theme-dark .skills-main span {
  color: #fff; }

.theme-dark .skills-main p {
  color: #fff; }

.theme-dark ::-webkit-scrollbar-thumb {
  background: #111418; }

.theme-dark .card-default {
  background-color: #141414; }

.theme-dark .card-grid {
  background-color: #212529;
  border-color: #F7D18D; }

.theme-dark .card-header {
  border-color: #F7D18D;
  color: #fff; }

.theme-dark .card-body .card-title {
  color: #fff; }

.theme-dark .card-body ul > li {
  color: #fff; }

.theme-dark .card-body h4 {
  color: #fff; }

.theme-dark .card-body .card-text {
  color: #fff; }
